@model Course


<div class="row">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="col-xl-9 m-auto">
        <div class="form-group row mb-3">
            <label class="col-md-3 col-form-label" asp-for="Title">
                Course title<span class="required">*</span>
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" asp-for="Title"
                       placeholder="Enter course title">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row mb-3">
            <label class="col-md-3 col-form-label" asp-for="ShortDescription">
                Short Description<span class="required">*</span>
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" asp-for="ShortDescription"
                       placeholder="Enter course title">
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row mb-3">
            <label class="col-md-3 col-form-label" asp-for="Description">
                Description
            </label>
            <div class="col-md-9">
                <textarea asp-for="Description"
                          class="form-control">
                                    </textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row mb-3">
            <label class="col-md-3 col-form-label" for="course_title">
                Category <span class="required">*</span>
            </label>
            <div class="col-md-9">
                <select class="selectpicker">
                    <option data-icon="uil-android-alt" selected> Mobile App </option>
                    <option data-icon="uil-bag-alt">Business</option>
                    <option data-icon="uil-palette">Desings</option>
                    <option data-icon="uil-camera">Photography</option>
                    <option data-icon="uil-medkit">Health Fitness</option>
                </select>
            </div>
        </div>

        <div class="form-group row mb-3">
            <label class="col-md-3 col-form-label" for="course_title">
                Language <span class="required">*</span>
            </label>
            <div class="col-md-9">
                <select class="selectpicker">
                    <option value=""> Beginner </option>
                    <option value="1"> Intermediate </option>
                    <option value="2"> Advanced</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 my-lg-5">
        <div class="text-center">

            <div class="mb-3 mt-3">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>
    </div> <!-- end col -->
</div>
