<header class="header header-horizontal header @ViewData["MenuCss"]">

    <div class="container">
        <nav uk-navbar>

            <!-- left Side Content -->
            <partial name="_MenuLeft" />

            <!--  Right Side Content   -->
            <partial name="_MenuRight" />

        </nav>

    </div>
    <!-- container  / End -->

</header>